<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<title>게시글 보기</title>
	
	<!-- 폰트 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet" />
	<!-- jQuery.js -->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<!-- moment.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<!-- axios.js -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<!-- UIkit CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="/css/mainHeader2.css">
	<script src="/js/mainHeader.js"></script>
</head>
<style>
.container {
    max-width: 1320px;
    margin: 50px auto;
    margin-bottom: 50px;
    padding-top: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uk-table th,
.uk-table td {
    padding: 10px;
}
.uk-table th {
    text-align: left;
    background-color: #f0f0f0;
}

.uk-table-divider {
    border-top: none;
}

.uk-button {
    font-family: 'Noto Sans KR', sans-serif;
}
</style>
<body>
	<th:block th:insert="~{/mainHeader.html}"></th:block>

	<div id="inner" class="container">
    <div id="board-header" class="header">
        <div>
            <h3><b>블로그 게시판</b></h3>
        </div>
        <div>
            <form action="/blog" method="get">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
                    <input name="search" class="uk-input" type="text" autocomplete='off' aria-label="Not clickable icon" placeholder="검색어를 입력해주세요">
                </div>
            </form>
        </div>
    </div>
    <table id="incident_list_table" class="uk-table uk-table-hover uk-table-divider uk-table-middle uk-table-small">
        <colgroup>
            <col width="75px" />
            <col width="150px" />
            <col width="400px" />
            <col width="125px" />
            <col width="120px" />
            <col width="50px" />
            <col width="50px" />
        </colgroup>
        <thead>
        <tr>
            <th class="">NO</th>
            <th class="">카테고리</th>
            <th class="">제목</th>
            <th class="">글쓴이</th>
            <th class="">게시일</th>
            <th class="">조회수</th>
            <th class="">좋아요</th>
        </tr>
        </thead>
        <tbody>
			<th:block th:if="${pv.totalCount > 0}">
				<tr th:each="vo, vs : ${pv.list}" th:onclick="view([[${vo.idx}]])"
					style="cursor: pointer;">
					<td>[[${pv.totalCount - (pv.currentPage-1)*pv.sizeOfPage -
						vs.index}]]</td>
					<td>[[${vo.categoryName}]]</td>
					<td th:text="${#strings.length(vo.title) > 10 ? #strings.substring(vo.title, 0, 10) + '...' : vo.title}"></td>
					<td>[[${vo.member.nickName}]]</td>
					<td th:text="${#dates.format(vo.regDate, 'yy-MM-dd')}"></td>
					<td>[[${vo.readCount}]]</td>
					<td>[[${vo.countHeart}]]</td>
				</tr>
			</th:block>
			</tbody>
		</table>
		<div style="text-align: right;">
			<form action="/blog/upload" method="post" id="writeBtn">
				<input type="hidden" name="p" th:value="${cv.p}">
				<input type="hidden" name="search" th:value="${cv.search}">
				<input type="submit" class="uk-button uk-button-default" value="글 쓰 기"/>			
			</form>
		</div>
		<div style="display: flex; align-items: center;justify-content: center;">
			[(${pv.pageList})]
		</div>
	</div>
	
	<script type="text/javascript">
		function view(idx){
			location.href = '/blog/view/'+idx;
		}
	</script>
</body>
</html>