<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "./mybatis-3-mapper.dtd" >
<mapper namespace="kr.ezen.jung.dao.JungVideoDAO">

	<!-- 저장 -->
	<insert id="insert" parameterType="JungVideoVO">
	    insert into jung_video values(jung_board_idx_seq.nextval, #{ref}, #{videourl}, #{youtube})
	</insert>
	
	<!-- 게시글에해당하는 파일 주기 -->
	<select id="selectvideoByRef" parameterType="int" resultType="JungVideoVO">
		select * from jung_video where ref = #{ref} order by idx 
	</select>

	<!-- 게시글에해당하는 파일 지우기 -->
	<delete id="deleteByRef" parameterType="int">
		delete from jung_video where ref = #{ref}
	</delete>

	<delete id="deleteByIdx" parameterType="int">
		delete from jung_video where idx = #{idx}
	</delete>
	
	<select id="selectvideoByIdx" parameterType="int" resultType="JungVideoVO">
		select * from jung_video where idx=#{idx}
	</select>
	
	<!-- 페이징을 위한 List 뿌리기 -->
	<select id="selectList" parameterType="hashmap" resultType="JungVideoVO">
		select
			R.*
		from
			(
				select
					rownum rnum, Q.*
				from
					(
						select
							*
						from
							jung_board
						order by
							idx desc
					) Q
				where
					<![CDATA[
						rownum <= #{endNo}
					]]> 
			) R
		where
			<![CDATA[
				rnum >= #{startNo}
			]]>
	</select>
	
	<select id="selectCount" parameterType="hashmap" resultType="int">
		select count(*) from jung_video
	</select>

</mapper>