<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>관리자 유저관리</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- UIkit CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
	<link rel="stylesheet" href="/css/admin/header.css">
    <style type="text/css">
    	
    </style>
</head>
<body>
<div id="wrap">
    
    <div id="content">
    	<header>
			<div id="logo"><a href="/adm">ADMINISTRATOR</a></div>
			<div id="info">
				[[${name}]]님 반갑습니다.
				<a id="homeBtn" href="/">홈으로</a>
			</div>
	    </header>
	    <div style="padding-top: 50px;">
	        <div id="leaf-area">
	            <ul>
	                <li>
	                    <label>회원 관리</label>
	                    <ul>
	                        <li class="uk-active"><a href="/adm/userManagement">회원 관리</a></li>
	                        <li><a href="/adm/mailToUser">회원 메일 발송</a></li>
	                        <li><a href="#">회원 권한 수정</a></li>
	                    </ul>
	                </li>
	                <li>
	                    <label>게시물 관리</label>
	                    <ul>
	                        <li><a href="#">인기 게시물</a></li>
	                        <li><a href="#">게시판 관리</a></li>
	                        <li><a href="#">파일 관리</a></li>
	                    </ul>
	                </li>
	                <li>
	                    <label>1:1 문의</label>
	                    <ul>
	                        <li><a href="#">1:1 문의 사항</a></li>
	                    </ul>
	                </li>
	                <li>
	                    <label>공지사항관리</label>
	                    <ul>
	                        <li><a href="#">공지사항보기</a></li>
	                        <li><a href="#">공지사항쓰기</a></li>
	                    </ul>
	                </li>
	            </ul>
	        </div>
	    	
	        <div id="right-area">
	        	<h3>회원상태보기</h3>
	        	<div style="display: flex; justify-content: end; align-items: center;">
        			<label for="" style="margin-right:10px;">정렬기준</label>
	        		<div class="uk-inline" style="margin-right:40px;">
	        			<select id="sort" class="uk-select">
	        				<option value="">최신순</option>
	        				<option value="">이름순</option>
	        			</select>
	        		</div>
					<label style="margin-right:10px;">검색</label>
					<div class="uk-inline">
			            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
			            <input name="search" class="uk-input" type="text" autocomplete='off' aria-label="Not clickable icon" placeholder="검색어를 입력해주세요">
			        </div>
	        	</div>
	        	
	        	<table class="uk-table uk-table-striped">
				    <thead>
				        <tr>
				            <th>No</th>
				            <th>아이디</th>
				            <th>이름</th>
				            <th>닉네임</th>
				            <th>주소</th>
				            <th>권한</th>
				            <th>생일</th>
				            <th>휴대폰번호</th>
				            <th>성별</th>
				            <th>게시글수</th>
				            <th>권한변경하기</th>
				        </tr>
				    </thead>
				    <tbody>
				    	<tr th:each="user : ${pv.list}">
				    		<td>[[${user.idx}]]번째로 가입한 회원</td>
				    		<td>[[${user.username}]]</td>
				    		<td>[[${user.name}]]</td>
				    		<td>[[${user.nickName}]]</td>
				    		<td>[[${user.stAddress}]] , [[${user.dtAddress}]]</td>
				    		<td>[[${user.role}]]</td>
				    		<td>[[${#dates.format(user.birthDate, 'yyyy-MM-dd HH:mm')}]]</td>
				    		<td>[[${user.phone}]]</td>
				    		<td>[[${user.gender}]]</td>
				    		<td>[[${user.boardCount}]]</td>
				    	</tr>
				    </tbody>
				</table>
				<div id="" style="display:flex; align-items: center; justify-content: center;">
					[(${pv.pageList})]				
				</div>
	        </div>
        </div>
    </div>
</div>
</body>
</html>
