<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="/css/blog.css">
<script src="/js/blog.js"></script>
</head>
<body style=" ">
	<header>
		<nav>
            <div class="logo">
                <img src="Spotify_Logo_RGB_White.png" alt="logo">
            </div>
            <div class="menuBar">
                <a href="">fileupload</a>
                <a href="">fileupload</a>
                <a href="">Support</a>
                <a href="">Download</a>
                <span>|</span>
                <th:block th:if="${session.user != null}">
	                <a href="/logout">Logout</a>                
                </th:block>
                <th:block th:if="${session.user == null}">
	                <a href="/member/join">Sign up</a>
	                <a href="/member/login">Log in</a>                
                </th:block>
            </div>
        </nav>
	</header>
	
	
	<main style="width: 940px; padding: 20px; margin: auto;background: #292820;">
      <div style="width: 100%; border: 1px solid #525040; margin: 20px 0;">

         <article style="width: 740px; margin: 20px auto;">
         	<input type="hidden"  th:value="${board.idx}" id="boardIdx"/>
            <div id="user">[[${board.member.name}]] ㆍ<span id="time">[[${#dates.format(board.regDate, 'yyyy-MM-dd hh:mm:ss')}]]</span> &nbsp;ㆍ </div>
            <div id="title"><h1>[[${board.title}]]</h1></div>
            <div class="hr"></div>
            <div id="content">
               [(${board.content})]
            </div>
            <div class="hr"></div>
            <div style="display: flex;justify-content: space-between;">
               <div>
               		<span>[[${board.readCount}]] views</span> ㆍ <span>[[${board.commentCount}]] comments</span>
               </div>
               <div style="display: flex; align-items: center;">
					<th:block th:if="${session.user ==null}">
	               		<input type="hidden" id="heartCk" value="1">
						<span id="ch" style="display: inline-block;">[[${board.countHeart}]]</span>
				        <svg t="1689815540548" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2271"><path d="M742.4 101.12A249.6 249.6 0 0 0 512 256a249.6 249.6 0 0 0-230.72-154.88C143.68 101.12 32 238.4 32 376.32c0 301.44 416 546.56 480 546.56s480-245.12 480-546.56c0-137.92-111.68-275.2-249.6-275.2z" fill="#231F20" p-id="2272" id="heart2"></path></svg>
					</th:block>
					<th:block th:if="${heart==1}">
	               		<input type="hidden" id="heartCk" value="1">
						<span id="ch" style="display: inline-block;">[[${board.countHeart}]]</span>
				        <svg t="1689815540548" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2271"><path d="M742.4 101.12A249.6 249.6 0 0 0 512 256a249.6 249.6 0 0 0-230.72-154.88C143.68 101.12 32 238.4 32 376.32c0 301.44 416 546.56 480 546.56s480-245.12 480-546.56c0-137.92-111.68-275.2-249.6-275.2z" fill="#231F20" p-id="2272" id="heart" class="active"></path></svg>
					</th:block>
					
					<th:block th:if="${heart==0}">
	               		<input type="hidden" id="heartCk" value="0">
						<span id="ch" style="display: inline-block;">[[${board.countHeart}]]</span>
				        <svg t="1689815540548" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2271"><path d="M742.4 101.12A249.6 249.6 0 0 0 512 256a249.6 249.6 0 0 0-230.72-154.88C143.68 101.12 32 238.4 32 376.32c0 301.44 416 546.56 480 546.56s480-245.12 480-546.56c0-137.92-111.68-275.2-249.6-275.2z" fill="#231F20" p-id="2272" id="heart"></path></svg>
					</th:block>

				</div>            
            </div>
         </article>
         
        
      </div>
      
       <div style="width: 100%; border: 1px solid #525040; margin: 20px 0;">
         <article style="width: 740px; margin: 20px auto;">
         	<p style="font-family: Playfair Display;">COMMENTS</p>
	       	 <div class="hr"></div>
	         <form style="margin-top: 40px" id="commentSumit" method="post" action="/commentupload">
	         	<input type="hidden" th:value="${board.idx}" name="boardidx">
	           <textarea placeholder="Write a comments..." name="reply"></textarea>
	           <div id="submitBtn">
		           <input type="submit" class="styled-button" value="Click me"/>	           
	           </div>
	         </form>
	         <div>
	         	<th:block th:if="${board.commentList.isEmpty()}">
	         		등록된 댓글이 없습니다.
	         	</th:block>
	         	<th:block th:if="${not board.commentList.isEmpty()}">
	         		<ul>
		         		<th:block th:each="comment : ${board.commentList}">
		         			<li>
		         			[[${comment.member.name}]]님이 [[${comment.regDate}]]에 남긴글
		         			<p>[[${comment.reply}]]</p>
		         			</li>
		         		</th:block>
	         		</ul>
	         	</th:block>
	         	<section>
	         		
	         	</section>
	         </div>
         </article>
      </div>
   </main>
 

</body>
</html>