<!DOCTYPE html>
<html lang="ko" xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<title>Log in with your credentials</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<!-- Ajax처리를 위한 포함 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/join.css">
</head>
<style>
	#popupBackground{
		position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 5; display: none;
		}
	#popup4{
		position: absolute; top: 20%; left: 40%; background: #aaa; width: 350px; height: 500px; display: none; border-radius: 12px; padding: 15px; z-index: 7;
	}
	#popup4 > div{position: relative; width: 100%; height: 100%;}
</style>
<body>
	<div class="container"
		style="margin: auto; width: 80%; margin-top: 50px;">		

			<div class="row g-2 align-items-center" style="margin-bottom: 10px">
				<span id="message"></span>
				<div class="col-auto">
					<input type="hidden" name="email" id="realUserEmail"/>
					<input id="email" type="text"
						class="form-control" placeholder="사용자이메일 입력"
						autofocus="autofocus" required="required"/>
				</div>
				<div class="col-auto">
					<span>@</span>
				</div>
				<div class="col-auto">
					<select id="email2" class="form-select"
						aria-label="Default select example" required="required">
						<option selected value="0">메일을 선택하세요!</option>
						<option value="naver.com">naver.com</option>
						<option value="google.com">google.com</option>
					</select>
				</div>
				<div class="col-auto">
					<input type="button" id="sendEmail"
						class="btn btn-outline-danger btn-sm" value="메일 인증">
				</div>
			</div>

			<div class="row g-2 align-items-center"
				style="margin-bottom: 10px; display: none;" id="emailCheckBox">
				<div class="col-auto">
					<input type="text" id="check" class="form-control"
						placeholder="인증번호를 입력해주세요">
				</div>
				<div class="col-auto">
					<input type="button" id="checkMail"
						class="btn btn-outline-danger btn-sm" value="인증번호 확인">
				</div>
			</div>
			<form action="/member/비밀번호 바꾸는곳" id="updateForm1" method="POST">
				<div class="col-auto">
						<input name="username" id="username" type="text" class="form-control" placeholder="사용자아이디 입력" autofocus="autofocus" required="required" disabled="disabled"/>
				</div><br />
			</form>
			<div id="popupBackground"></div>
			<div id="popup4" class="popup">
	 			<div>
					 <!-- 수정할 정보를 입력하는 양식 -->
				 	<span class="material-symbols-outlined" id="popup4-close" style="cursor: pointer;">close</span>
					 <h4 class="contact_edit_titl" style="width: 329px;">
					 	<em class="accent">비밀번호</em>
					 	를 변경하기위한 페이지입니다
					 </h4>
					<div>
			        	<label for="newPhone">새로운 비밀번호:</label><br>
			        	<div class="col-auto">
					    	<input type="password" id="password" name="password" class="form-control" aria-describedby="passwordHelpInline">
							<input type="hidden" th:value="username" id="hiddenUsername" name="username">
						</div>
						<label for="newPhone">새로운 비밀번호 확인:</label><br>
			        	<div class="col-auto">
					    	<input type="password" id="newPw" name="newPw" class="form-control" aria-describedby="passwordHelpInline">
						</div>
					</div>
			        <input class="uk-button uk-button-default asd" type="submit" id="sendPw" value="정보 수정" >
				</div>
		 	</div>
				
				
			<div style="text-align: center;">
				<button class="btn btn-outline-danger btn-sm" type="submit" onclick="submitForm()">인 증 하 기</button>
				<button class="btn btn-outline-danger btn-sm" type="button"
					onclick="location.href='/'">홈으로</button>
			</div>
	</div>
</body>
	<script type="text/javascript">
	$(function() {
		$("#sendEmail").click(function() {
			let email = $("#email").val();
			
			if (email.trim().length == 0) {
				alert("이메일을 입력해주세요")
				$("#email").val("");
				$("#email").focus();
				return;
			}
			if (email.indexOf(" ") != -1) {
				alert("공백은 포함할 수 없어요");
				$("#email").val("");
				$("#email").focus();
				return;
			}
			let email2 = $("#email2").val();
			if (email2 == 0) {
				alert("이메일을 선택해주세요");
				$("#message").focus();
				return;
			}
			email = email + '@' + email2;
			
			axios.get('/member/send?to=' + email)
			.then(function(response) {
				if (response.data != "") {
					alert("메일 발송 성공")
					$("#emailCheckBox").css('display', 'flex')
					checkVal = response.data;
				} else {
					alert("메일 발송 실패")
				}
			})
			.catch(function(error) {
				console.log(error);
			})
			.finally(function() {
				// 항상 실행되는 영역
			});
		})
		
		/** aasfasfasf */
		$("#checkMail").click(function() {
			let check = $("#check").val();
			if (check == checkVal) {
				alert("인증 완료");
				$("#username").attr("disabled",false);
			} else {
				alert("인증 실패");
			}
		})
	})
	
	// 인증하기  로직
	function submitForm() {
		let email = $("#email").val();
		if (email.trim().length === 0) {
			alert("아이디를 입력해주세요.");
			return;
		}

		let email2 = $("#email2").val();
		if (email2 === "0") {
			alert("이메일을 선택해주세요.");
			return;
		}
		
		let emailCheckBox = $("#emailCheckBox");
		if (emailCheckBox.css('display') === "none") {
			alert("이메일을 인증해주세요.");
			return;
		}

		let emailVerificationCode = $("#check").val();
		if (emailVerificationCode.trim().length === 0) {
			alert("이메일 인증번호를 입력해주세요.");
			return;
		}
		
		let username = $("#username").val();
		if (username.trim().length === 0) {
			alert("아이디를 입력해주세요.");
			return;
		}
		email = email + "@" + email2;
		
		axios.post('/member/userIdCheckByEmail', {
			"email": email
		})
		.then(function (res) {
			console.log(email);
			let dbUsername = res.data // 서버로부터 받은 사용자 이름
			console.log(dbUsername);
               let inputUsername = $("#username").val(); // 입력한 사용자 이름
			
			if(dbUsername == inputUsername){
				alert("사용자 일치")
				$("#popupBackground").fadeIn();
	            $("#popup4").fadeIn();
	         	// JavaScript로 가져온 username 값
	            let username = $("#username").val();
	            
	            // hidden input 요소에 username 값을 설정
	            $("#hiddenUsername").val(username);
			}else{
				alert("사용자 불일치")
			}
		})
	}
	
	
	$(function() {
		$("#popupBackground").click(function() {
    		$(this).fadeOut();
            $(".popup").fadeOut();
        });
		$("#popup4-close").click(function(){
			$("#popupBackground").fadeOut();
			$("#popup4").fadeOut();
		})
	})

	// 회원가입 완료 메시지 표시 및 로그인 페이지로 이동
	function redirectToLogin() {
		var message = "회원가입이 완료되었습니다.";
		alert(message);
		// 로그인 페이지로 이동
		window.location.href = "/login";
	}
	
	$(function () {
		$("#sendPw").click(function() {
			// 새로운 비밀번호와 확인 비밀번호를 가져옴
            let newPassword = $("#password").val();
            let newPasswordConfirm = $("#newPw").val();
            
            // 비밀번호가 8글자 이상인지 확인
            if (newPassword.length < 8) {
                alert("비밀번호는 8글자 이상이어야 합니다.");
                return;
            }
            
            // 확인 비밀번호가 일치하는지 확인
            if (newPassword !== newPasswordConfirm) {
                alert("새로운 비밀번호와 확인 비밀번호가 일치하지 않습니다.");
                return;
            }
			
            const form = document.createElement('form');
            form.setAttribute("method", "POST");
            form.setAttribute("action", "/member/updatePw");
            let usernameInput = document.createElement('input');
            usernameInput.setAttribute('type', 'hidden'); // 타입 설정
            usernameInput.setAttribute('name', 'username'); // 이름 설정
            usernameInput.setAttribute('value', $("#hiddenUsername").val()); // 값을 설정
            let passwordInput = document.createElement('input');
            passwordInput.setAttribute('type', 'hidden'); // 타입 설정
            passwordInput.setAttribute('name', 'password'); // 이름 설정
            passwordInput.setAttribute('value', newPassword); // 값을 설정
            
            form.appendChild(usernameInput);
            form.appendChild(passwordInput);
            document.body.appendChild(form);
            form.submit();
		})
	})
	
	</script>
</html>
