<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport"
   content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<head>
    <meta charset="UTF-8">
    <title>자료실</title> 
    
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/video.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
    
    <script src="/js/video.js"></script>
    
	<link rel="stylesheet" href="/css/mainHeader.css">
	<script src="/js/mainHeader.js"></script>
</head>
<style>
#board {
   width: 100%;
   
}

.image-box {
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 320px;
}

</style>
<body>
<th:block th:insert="~{/mainHeader.html}"></th:block>

<div style="text-align: center; color: #AAAAAA; font-size: 30pt; margin-top: 80px;">Youtube영상공유하기</div><br>
<div th:if="${#lists.isEmpty(pv.list)}">
    <p>현재 자료가 없습니다.</p>
</div>
</th:block>
<!-- 검색어 입력란 -->
<div style="text-align: right;">
    <form action="/videoboard/" method="get">
        <div class="uk-inline" style="width: 30%;">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
            <input name="search" class="uk-input" type="text" autocomplete='off'
                aria-label="Not clickable icon" placeholder="검색어를 입력해주세요">
        </div>
    </form>
</div><br>
<div id="board">
    <div th:if="${not #lists.isEmpty(pv.list)}" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;">
       <th:block th:each="board : ${pv.list}">
           <div class="image-box">
              <th:block th:if="${#strings.contains(board.videoVO[0].youtube,'youtube')}">
                 <th:block th:if="${#strings.contains(board.videoVO[0].youtube,'&')}">
                     <div>
                         <img th:with="key=${#strings.substring(board.videoVO[0].youtube, board.videoVO[0].youtube.indexOf('=') + 1, board.videoVO[0].youtube.indexOf('&'))}" 
                              th:src="@{'https://img.youtube.com/vi/' + ${key} + '/mqdefault.jpg'}" 
                              alt="유튜브 동영상 이미지입니다.11" th:onclick="viewvideo([[${board.idx}]])" style="cursor: pointer;" id="thumbnail"/>
                     </div>
                 </th:block>
                 <th:block th:unless="${#strings.contains(board.videoVO[0].youtube,'&')}">
                 <div>
                     <img th:with="key=${#strings.substring(board.videoVO[0].youtube, board.videoVO[0].youtube.indexOf('=') + 1)}" 
                         th:src="@{'https://img.youtube.com/vi/' + ${key} + '/mqdefault.jpg'}" 
                          alt="유튜브 동영상 이미지입니다.22" th:onclick="viewvideo([[${board.idx}]])" style="cursor: pointer;" id="thumbnail"/>
                 </div>
                 </th:block>
              </th:block>
              <th:block th:unless="${#strings.contains(board.videoVO[0].youtube,'youtube')}">
                 <th:block th:unless="${#strings.contains(board.videoVO[0].youtube,'&') or #strings.contains(board.videoVO[0].youtube,'=')}">
                      <img th:src="@{'img/novideo.jpg'}" th:onclick="viewvideo([[${board.idx}]])" style="cursor: pointer; width: 320px; height: 180px;" id="thumbnail">
                 </th:block>         
              </th:block>   
              <th:block th:if="${#strings.contains(board.videoVO[0].youtube,'youtube')} or ${#strings.contains(board.videoVO[0].youtube,'&') or #strings.contains(board.videoVO[0].youtube,'=')}">
                  <div style="display: flex; align-items: center; justify-content: space-between;">
                      
                      <div>
                          <span th:text="${#strings.length(board.title) &gt; 5 ? #strings.substring(board.title, 0, 5) + '...' : board.title}" th:onclick="viewvideo([[${board.idx}]])" style="font-weight: bold; font-size: 16pt; text-align: left;"></span>
                      </div>
                      <div>
                           <span uk-icon="comments"></span>
                           <span>[[${board.commentCount}]]</span>
                           <span uk-icon="eye"></span>
                           <span>[[${board.readCount}]]</span>
                           <span uk-icon="heart"></span>
                           <span>[[${board.countHeart}]]</span>
                      </div>
                  </div>
                   <p>[(${#strings.length(board.content) &gt; 10 ? #strings.substring(board.content, 0, 10) + '...' : board.content})]</p>
                   <div style="font-size: 10pt; color: #AAAAAA">
                      <span>작성자</span>
                      <span>[[${board.member.nickName}]]</span>
                   </div>
              </th:block>
              <th:block th:unless="${#strings.contains(board.videoVO[0].youtube,'youtube')} or ${#strings.contains(board.videoVO[0].youtube,'&') or #strings.contains(board.videoVO[0].youtube,'=')}">
                 <br><br><span>잘못된 유튜브 주소를 올리셨습니다!</span>
              </th:block>
           </div>
       </th:block>
    </div>
</div>
<div style="display: flex; align-items: center;justify-content: center;">
    [(${pv.pageList})]
</div>
<br>
<br>
<div style="text-align: right;">
    <form action="/videoboard/videoupload" method="post" id="writeBtn">
        <input type="hidden" name="p" th:value="${cv.p}">
        <input type="hidden" name="search" th:value="${cv.search}">
        <input type="hidden" name="categoryNum" th:value="${cv.categoryNum}">
        
        <input type="submit" class="uk-button uk-button-default" value="영상올리기"/>            
    </form>
</div>
</body>
</html>